@media (width <= 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    flex-direction: column;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  text-align: center;
}

body {
  flex-grow: 1;
}

.navbar .active {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@media (width >= 600px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

#content {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0.5rem;
}

figure {
  border: 3px solid blue;
  padding: 0.5rem;
  grid-column: 1 / -1;
  font-size: large;
}

figcaption {
  font-style: italic;
  text-align: right;
  margin-right: 20px;
}

img {
  grid-column: 2;
  grid-row: 1;
}

.footer-home {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}
